# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# Misc
*.moved-aside
*.hmap

# SPM resolved file (regenerated on build)
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
